<app-menu></app-menu>

<div class="po-wrapper-menu-panel">

  <po-toolbar p-title="The Star Wars APIs - Dashboard "></po-toolbar>

  <po-page-default [p-title]="title">
    <div class="po-row">
      <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="People">
        <div class="po-font-subtitle po-text-center">82</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>

      <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Planets">
        <div class="po-font-subtitle po-text-center">60</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>

      <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Films">
        <div class="po-font-subtitle po-text-center">6</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>

      <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Species ">
        <div class="po-font-subtitle po-text-center">37</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>

      <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Veh1cles">
        <div class="po-font-subtitle po-text-center">39</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>

      <po-widget class="po-md-6 po-lg-4 po-mb-2 " p-title="Starsh1ps">
        <div class="po-font-subtitle po-text-center">36</div>
        <div class="po-text-center sample-widget-text-subtitle">https://swapi.dev/about</div>
      </po-widget>
    </div>
  </po-page-default>
</div>